/* CSS Document */

body {margin:0px 0px 0px 0px;
		font-family:"Trebuchet MS";
		font-size:11px;
		font-weight:normal;
		}
		


.defauttext {font-family:"Trebuchet MS";
				font-size:12px;
				line-height:26px;
				word-spacing:2px;
				text-align:justify;
				color:#333333;}


table#mainTable2 {border:none; background:transparent url(../images/logo.gif) no-repeat 10px top ; }

/* Menu */

#menu {
	float: left;
}

#menu ul {
	margin: 0;
	padding: 0px 0 0 0;
	list-style: none;
}

#menu li {
	display: inline;
	
}

#menu a {
	display: block;
	float: left;
	background: transparent;
	margin-left: 0px;
	padding: 10px 20px;
	text-decoration: none;
	border-right:1px solid #999999;
	font-size: 11px;
	color: #FFFFFF;
}
/* Controls the hover action of the menus*/
#menu a:hover, #menu .active a {
	background:url(../images/top_table_hover.jpg) repeat-x;
	text-decoration: none;
	color:#FFFFFF;
}

input, select, menu {border:1px solid #999999;}

/* Divisions looking like textboxes */
.divLikeTextbox{
	border:1px solid #999999; /*Original tbox color is 7F9DB9;*/
	background-color:#FFF;
	padding: 2px 2px;
	width:auto;
	height:auto;
}