.drag-handle{ /*Overwrite default drag handle bar background color with below*/
	/*background-color: #03277C;*/
	background-color: #B1B1B1;
	background:url(../images/block_in_bg_a.png);
}

#interVeil{ /*CSS for veil that covers entire page while modal window is visible*/
	position: absolute;
	background: black url(../images/blackdot.gif);
	width: 10px;
	left: 0;
	top: 0;
	z-index: 5;
	visibility: hidden;
	filter:progid:DXImageTransform.Microsoft.alpha(opacity=80);
	opacity: 0.8;
}

.winredtext{
	color:#F00;
}

.winblacktext{
	color:#000;
}

div.winrsvdiv{
	display:block;
	text-align:center;
}

.wininfo{
	text-align:center; 
	font-family:verdana; 
	font-size:12px;
}